configuration {
    font: "Noto Sans 11";
    show-icons: false;
}

* {
    background: #24272e;
    foreground: #abb2bf;
    button-background: #282c34;
    button-selected-background: #2c323c;
    border-color: #4b5263;
    selected-border-color: #61afef;
}

window {
    location: center;
    width: 264px;
    y-offset: 0px;
    padding: 12px;
    background-color: @background;
    border: 1px;
    border-color: @border-color;
    border-radius: 8px;
}

mainbox {
    spacing: 12px;
    background-color: @background;
    children: [ inputbar, listview ];
}

inputbar {
    background-color: @background;
    children: [ dummy-left, prompt, dummy-right ];
}

prompt {
    expand: false;
    background-color: @background;
    text-color: @foreground;
    horizontal-align: 0.5;
}

dummy-left, dummy-right {
    expand: true;
    background-color: transparent;
}

listview {
    background-color: @background;
    columns: 2;
    lines: 1;
    flow: horizontal;
    fixed-columns: true;
    spacing: 6px;
}

element {
    padding: 7px 12px;
    background-color: @button-background;
    text-color: @foreground;
    border: 1px;
    border-color: @border-color;
    border-radius: 4px;
    cursor: pointer;
}

element selected {
    background-color: @button-selected-background;
    text-color: @foreground;
    border-color: @selected-border-color;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
}
