# Dotfiles gitignore

# Vim
vim/bundle/
vim/cache/
vim/vimrc_min
.tern-port

# Nvim
nvim/plugin/
nvim/cache/

# Tmux
tmux/plugins/
tmux/resurrect/

# Arch
arch/config/onedrive/items*
arch/config/onedrive/refresh_token
arch/bin/tmux_tree

# Ranger
config/ranger/plugins/
config/ranger/devicons.py

# Onedrive
arch/config/onedrive/.config.backup
arch/config/onedrive/.config.hash
