##############################################################################
# GAUSS - Copyright (C) 1984-2008 Aptech Systems, Inc.  All rights reserved. #
##############################################################################
#                 gauss.cfg - configuration file for GAUSS                   #
##############################################################################
#                You may modify this file upon installation.                 #
##############################################################################
#                                                                            #
#    Upon startup, GAUSS looks for this configuration file in the            #
#    GAUSSHOME90 directory.  This can be changed by defining an environment  #
#    variable called GAUSS90_CFG which contains the full drive and path      #
#    specification of an alternate configuration file. The file name will    #
#    remain the same.                                                        #
#                                                                            #
##############################################################################
#                                                                            #
#   The GAUSSDIR variable defaults to the contents of the GAUSSHOME90        #
#   environment variable if present or the executable path if the            #
#   environment variable is not present.  Most users will not need to        #
#   change it.  GAUSSDIR can be referenced using $(GAUSSDIR) for any         #
#   of the other paths or filenames, or they can be hardcoded with no        #
#   reference to GAUSSDIR.                                                   #
#                                                                            #
##############################################################################

# if commented out, default is GAUSSHOME90 or the executable path
# GAUSSDIR = \home\gauss

# multiple paths for program files
src_path = $(GAUSSDIR)\src;$(GAUSSDIR)\examples;C:\OD\OneDrive\programming\gauss\libraries\src

# one default path for library files
lib_path = $(GAUSSDIR)\lib

# multiple paths for extra library files
extra_lib_path = C:\OD\OneDrive\programming\gauss\libraries\lib

# one path for the error log file
err_path = $(GAUSSDIR)\tmp

# one path and filename for the command log
log_file = $(GAUSSDIR)\tmp\command.log

# one path for DLIBRARY command
dlib_path = C:\OD\OneDrive\programming\gauss\libraries\dlib

# one path for temporary files
# if commented out use \tmp or \temp directory
#tmp_path = $(GAUSSDIR)\tmp

# one path for SAVE command
#save_path =

# one path for LOADM command
#loadm_path =

# one path for LOADP, LOADF, LOADK command
#loadp_path =

# one path for LOADS command
#loads_path =

# ==============================================================================
# External editor specification.  If you type:
#
#    ed myfile.e
#
# the command sent to the OS is:
#
#    editor_command myfile.e
#
# ==============================================================================
#             editor_command
alt_editor =  gvim
# ==============================================================================

# ========================================================================
maxglobals =    2500       # maximum number of global symbols
maxlocals =     2000       # maximum number of active locals
maxproclocals = 2000       # maximum number of locals in any one procedure
maxdeclet =     2000       # maximum matrix elements for LET and DECLARE
# ========================================================================
#   'active locals' includes any temporary stack variables needed during
#    the execution of an expression, so don't try to cut it too close.
# ======================================================================

# ========================================================================
#   translator turns the translator on and off.
#   transtrack turns translator line tracking on and off.
#   translator_name specifies the name of the translator to be called
#   by GAUSS.  This should be the name of an executable file.  If none
#   is specified, GAUSS defaults to the data loop translator, gtran.
#   translated_file_name specifies the name of the file to be written
#   by the translator.  This is useful if you want to look at or make
#   a copy of the translated file.  If translated_file_name is not
#   specified, GAUSS will create a temporary file, which is deleted at
#   the end of the GAUSS session.
# ========================================================================

translator =       off     # on, off                       Ctrl-T
transtrack =       on      # on, off                       Alt-X menu

# ========================================================================
# LPRINT settings
# ========================================================================
win_printer_device = LPT1

# ========================================================================
# Miscellaneous settings
# ========================================================================
make =             on      # auto recompile of changed source files
dat_fmt_version =  v96     # universal format
                           # use v92 for original unix format
file_permissions = 0644    # default file permissions
line_numbers =     on      # on, off                       Alt-X menu
autoload =         on      # on, off                       Ctrl-A
autodelete =       on      # on, off                         ''
declare_warn =     off     # on, off                       Ctrl-W
compiler_trace =   off     # off, file, line, symbol       Ctrl-V
user_lib =         on      # on, off                       Ctrl-L
gauss_lib =        on      # on, off                         ''

complex_numbers =  on      # on, off                       SYSSTATE( 8
complex_char =     i       # single ascii character        SYSSTATE( 9
screen =           on      # on, off                       SYSSTATE( 15
print =            off     # on, off                       SYSSTATE( 16
lprint =           off     # on, off                       SYSSTATE( 17
lpwidth =          80      # 1-256                         SYSSTATE( 10
outwidth =         80      # 1-256                         SYSSTATE( 11
crout_tol =        1.0e-14 # >= 0.0                        SYSSTATE( 13
chol_tol =         1.0e-14 # >= 0.0                        SYSSTATE( 14
signed_zeros =     off     # zeros with sign bit set and negative numbers
                           # that round to zero will print out as -0 if
                           # on, else 0
cache_size =       32      # size of processor cache in K-bytes
prompt_hist_num =  500     # number of elements in GAUSS prompt history
# ========================================================================

##############################################################################
#                         End of gauss.cfg                                   #
##############################################################################
