# ==============================================================================
#          File: requirements.txt
#        Author: Pedro Ferrari
#       Created: 12 Dec 2016
# Last Modified: 01 Jun 2017
#   Description: Usual python libraries
# ==============================================================================
beautysh; python_version >= '3.5'
bokeh
cython
flake8; python_version >= '3.5'
jedi; python_version >= '3.5'
jupyter
matplotlib
mypy; python_version >= '3.5'
# Note: mysql connector needs protobuf; see https://stackoverflow.com/a/43066829/2149400
mysql-connector
neovim
neovim-remote; python_version >= '3.5'
numpy
pandas
pip-review
powerline-status; python_version >= '3.5'
powerline-gitstatus; python_version >= '3.5'
scikit-learn
pyhive
ranger-fm; python_version >= '3.5'
scipy
sqlparse; python_version >= '3.5'
vim-vint; python_version >= '3.5'
xlrd
yamllint
yapf; python_version >= '3.5'
