# ==============================================================================
#          File: requirements.txt
#        Author: Pedro Ferrari
#       Created: 12 Dec 2016
# Last Modified: 25 Mar 2017
#   Description: Usual python libraries
# ==============================================================================
bokeh
cython
flake8
jedi
jupyter
matplotlib
mypy; python_version >= '3.2'
mysql-connector
neovim
numpy
pandas
pip-review
powerline-status
powerline-gitstatus
scikit-learn
pyhive
scipy
vim-vint
xlrd
yamllint
yapf
