SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="085e", PROGRAM="/usr/bin/v4l2-ctl --set-ctrl=zoom_absolute=160  --device /dev/%k"
