# Note: mysql connector needs protobuf; see https://stackoverflow.com/a/43066829/2149400
cython
flake8; python_version >= '3.6'
jedi; python_version >= '3.6'
jupyter
matplotlib
mypy; python_version >= '3.6'
mysql-connector==2.1.6
numpy
pandas
pyhive
pytest; python_version >= '3.6'
pytest-cov; python_version >= '3.6'
requests
scipy
scikit-learn
sqlparse; python_version >= '3.6'
vim-vint; python_version >= '3.6'
yapf; python_version >= '3.6'
