snippet pf "Pedro Ferrari" b
Pedro Ferrari
endsnippet

snippet bold "Bold" w
*${1:${VISUAL}}*$0
endsnippet

snippet ita "Italics" w
/${1:${VISUAL}}/$0
endsnippet

snippet ul "Underline" w
_${1:${VISUAL}}_$0
endsnippet
