snippet dpt "Dummy Presto table" b
WITH dummy_table AS
(
SELECT * FROM (
	VALUES
		(1, 'a', NULL),
		${1:another row}
) AS t (a, b, c)
)

SELECT *
FROM dummy_table$0
endsnippet

snippet slcdt "Sqlite create dummy table" b
CREATE TABLE ${1:name} (
	name TEXT NOT NULL,
	age integer NOT NULL,
	experience integer NOT NULL,
	UNIQUE(name)
);$0
endsnippet
